@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "feelo-font";
  src: url("../assets/Cream\ Cake.otf");
}
.feelo-font {
  font-family: "feelo-font", sans-serif;
}

.active-link {
  @apply font-bold text-red-500;
}

.navlink {
  margin: 0;
 padding: 0;
}